<!-- poñemon-list.component.html -->
<div>
  <h2>Lista de Pokémones</h2>
  <form (submit)="buscarPokemon()">
    <input [(ngModel)]="nombrePokemon" name="nombrePokemon" placeholder="Buscar Pokémon" />
    <button type="submit">Buscar</button>
  </form>
  <div *ngFor="let pokemon of listaPokemon">
    <img [src]="pokemon.imagen" alt="Imagen de {{pokemon.nombre}}" />
    <p>{{pokemon.nombre}}</p>
  </div>
  <div>
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [pokemonList]="pokemonList" (pageChange)="changePage($event)"></app-pagination>
  </div>
</div>
