<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  /* Estilos generales para el body */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

  /* Estilos generales para los componentes */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Estilos para el footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  /* Estilos para la paginación */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Estilos para la lista de Pokémon */
  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pokemon-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .pokemon-card img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
  }

  .pokemon-card p {
    text-align: center;
    margin: 10px 0;
  }

  /* Otros estilos personalizados para componentes específicos */
  /* .footer .some-element { ... } */
  /* .pagination .another-element { ... } */
  /* .pokemon-list .pokemon-element { ... } */
</style>



<div>
  <h1>Pokédex_Angular</h1>
  <!-- Renderiza el componente pokemon-list -->
  <app-pokemon-list></app-pokemon-list>
  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [pokemonList]="pokemonList" (pageChange)="pageChange.emit($event)"></app-pagination>
  <app-footer></app-footer>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>